.product-img-container {
    font-size: 80px;
    text-align: center;
    background-color: #fafafa;
    height: 150px;
    width: 150px;
    border: 1px solid #ccc;
    color: #ccc;

    i {
        vertical-align: middle;
    }
}